<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
        <rewrite>
            <outboundRules>
                <rule name="Service Fabric Domain Rewrite Rule" preCondition="ResponseIsHtml" enabled="true">
                    <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="(\d{5})/(.*)" />
                    <action type="Rewrite" value="http://localhost:{R:1}/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="Service Fabric Microservice Redirect" stopProcessing="true">
                    <match url="^(\d{5})/(.*)" />
                    <action type="Rewrite" url="http://localhost:{R:1}/{R:2}" />
                    <conditions logicalGrouping="MatchAny" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
